.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 15px;
    background-color: var(--white);
    border-radius: 10px;
    max-width: 350px;
    gap: 5px;
}

.input {
    width: 100%;
    border: 0px;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    color: var(--grey);
}