.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 10%;
}

.h2 {
    color: var(--grey);
    font-weight: 300;
    margin: 15px 0 0 0;
    font-size: 1em;
}

.h1 {
    font-weight: 600;
    margin: 0 0 30px 0;
    font-size: 1.5em;
}

.categoriesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    max-width: 480px;
}

.categoriesSubContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.h3 {
    font-weight: 600;
    font-size: 1.1em;
}

.seeAll {
    color: var(--grey);
    font-weight: 300;
    font-size: 0.9em;
}

.button {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
    background-color: var(--white);
    border: 0;
    border-radius: 10px;
    max-width: 150px;
    gap: 5px;
}

.selected {
    background-color: var(--orange);
    color: var(--white);
    width: 40%;
}

.icon {
    width: 15px;
    height: 15px;
}