.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 40px 10% 0 10%;
}

.nav button,
.goBack {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.nav h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.navDesktop {
    display: none;
}

.img {
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
    margin: 15px 0;
    background-color: transparent;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 30px 30px 0 0;
    width: calc(100% - 40px);
    min-height: calc(100vh - 370px);
    padding: 0 20px 50px 20px;
}

.firstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 45px 0 0 0;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.brand h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.brand p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: var(--grey)
}

.price {
    font-size: 24px;
    font-weight: 600;
    color: var(--orange);
    margin: 0;
}

.secondSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secondSection h3,
.secondSection h4 {
    font-size: 16px;
    font-weight: 700;
    margin: 25px 0 5px 0;
}

.sizesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 15px
}

.size {
    border: solid;
    border-width: 2px;
    border-color: var(--grey);
    border-radius: 25px;
    background-color: transparent;
    padding: 5px 10px;
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.activeSize {
    border: solid;
    border-width: 2px;
    border-color: var(--orange);
    border-radius: 25px;
    background-color: transparent;
    padding: 5px 10px;
    color: var(--orange);
    font-size: 14px;
    font-weight: 400;
}

.thirdSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}

.shopBag {
    background-color: transparent;
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: var(--orange);
    width: 54px;
    height: 54px;
    cursor: pointer;
}

.addToCart {
    background-color: var(--orange);
    border: none;
    border-radius: 15px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    width: 247px;
    height: 54px;
    cursor: pointer;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.imgDesktop {
    display: none;
}

.sectionDesktop {
    width: 100%;
}

.subSectionDesktop {
    width: 100%;
}

@media (min-width: 1200px) {
    .nav {
        display: none;
    }

    .navDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img {
        display: none;
    }

    .subContainer {
        align-items: flex-start;
        background-color: transparent;
    }

    .firstSection {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }

    .descriptionSectionDesktop {
        max-width: 40%;
    }

    
    .subSectionDesktop {
        width: 100%;
    }

    .imgDesktop {
        display: flex;
        position: relative;
        overflow: hidden;
        height: 500px;
        width: 100%;
        margin: 15px;
        background-color: transparent;
    }
    
    .secondSection {
        width: 95%;
        margin-right: 5%;
    }

    .sectionDesktop {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .thirdSection {
        justify-content: flex-end;
        gap: 60px
    }
}